<% if (totalCount > 0) { %>
    <div class="fixed-action-btn horizontal click-to-toggle results-count-wrapper">
        <a class="btn-floating saq-purple right tooltipped" data-position="bottom" data-tooltip="Number of results displayed per page"><i class="material-icons">view_module</i></a>
        <ul>
            <a class="btn-floating" data-count="96">96</a>
            <a class="btn-floating" data-count="48">48</a>
            <a class="btn-floating" data-count="24">24</a>
            <a class="btn-floating" data-count="12">12</a>
        </ul>
    </div>
    <p>
        <%= totalCount %>&nbsp;results found in&nbsp;
        <%= duration / 1000 %>&nbsp;seconds.
    </p>
<% } else { %>
    <% if (queryCorrections.length > 0) { %>
        <div class="row">
            <p class="flow-text">Did you mean
                <a class="qcorrection" data-query="<%= queryCorrections[0].correctedQuery %>">
                    <%= queryCorrections[0].correctedQuery %>
                </a>?
            </p>
        </div>
    <% } else { %>
        <p class="flow-text">Query returned no results.</p>
    <% } %>
<% } %>
<div id="results-wrapper" class="row"></div>


