@import '../../lib/materialize-src/sass/materialize.scss';
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    #app {
        flex: 1 0 auto;
        .results-pagination {
            width: fit-content;
        }
        #search-bar-wrapper {
            margin-top: 1rem;
        }
        #search-wrapper {
            .qcorrection {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            #results {
                .result {
                    @media #{$medium-and-up} {
                        padding: 1rem;
                    }
                    img {
                        bottom: 0;
                        max-width: 100%;
                        margin: 0 auto;
                        width: unset;
                        max-height: -webkit-fill-available
                    }
                    .result-details {
                        li {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            span:first-child {
                                font-weight: bold;
                            }
                        }
                    }
                    .badge:not(.new) {
                        font-weight: 300;
                        font-size: 0.8rem;
                        color: #fff;
                        border-radius: 2px;
                        margin: 3px;
                    }
                }
            }
        }
    }
}