@import '../../lib/materialize-src/sass/materialize.scss';
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    #app {
        flex: 1 0 auto;
        .results-pagination {
            width: fit-content;
        }
        #search-bar-wrapper {
            margin-top: 1rem;
        }
        #search-wrapper {
            #results {
                .result {
                    @media #{$medium-and-up} {
                        padding: 1rem;
                    }
                    img {
                        bottom: unset;
                        max-width: 100%;
                        max-height: -webkit-fill-available;
                        margin: 0 auto;
                        width: unset;
                    }
                    .result-details {
                        li {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            span:first-child {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}